div.header
	div.title
		| FIRE FIGHTING SYSTEMS
		div.controls
			a.control(href="calendar")
				| Calendar
			a.control(href="file-manager")
				| File Manager
			a.control(href="equipments")
				| Equipments

			div.control.btn.btn-outline.btn-primary
				| BULK UPLOAD
			div.control.btn.btn-outline
				| LOGOUT
