extends ../layout

block content
	div('ng-controller'="mainCtrl")
		include ../includes/app/header.jade
		include ../includes/app/site-list.jade
		include ../includes/app/main-view.jade

block scripts
	script(type='text/javascript',src='/scripts/ffs.js')