@font-face {
    font-family: 'solomon';
    src: url('../fonts/solomon_black-webfont.eot');
    src: url('../fonts/solomon_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/solomon_black-webfont.woff2') format('woff2'),
         url('../fonts/solomon_black-webfont.woff') format('woff'),
         url('../fonts/solomon_black-webfont.ttf') format('truetype'),
         url('../fonts/solomon_black-webfont.svg#solomon_blackregular') format('svg');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'solomon';
    src: url('../fonts/solomon_bold-webfont.eot');
    src: url('../fonts/solomon_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/solomon_bold-webfont.woff2') format('woff2'),
         url('../fonts/solomon_bold-webfont.woff') format('woff'),
         url('../fonts/solomon_bold-webfont.ttf') format('truetype'),
         url('../fonts/solomon_bold-webfont.svg#solomon_boldregular') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'solomon';
    src: url('../fonts/solomon_thin-webfont.eot');
    src: url('../fonts/solomon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/solomon_thin-webfont.woff2') format('woff2'),
         url('../fonts/solomon_thin-webfont.woff') format('woff'),
         url('../fonts/solomon_thin-webfont.ttf') format('truetype'),
         url('../fonts/solomon_thin-webfont.svg#solomon_thinregular') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'solomon';
    src: url('../fonts/solomon_normal-webfont.eot');
    src: url('../fonts/solomon_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/solomon_normal-webfont.woff2') format('woff2'),
         url('../fonts/solomon_normal-webfont.woff') format('woff'),
         url('../fonts/solomon_normal-webfont.ttf') format('truetype'),
         url('../fonts/solomon_normal-webfont.svg#solomon_normalregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'solomon';
    src: url('../fonts/solomon_light-webfont.eot');
    src: url('../fonts/solomon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/solomon_light-webfont.woff2') format('woff2'),
         url('../fonts/solomon_light-webfont.woff') format('woff'),
         url('../fonts/solomon_light-webfont.ttf') format('truetype'),
         url('../fonts/solomon_light-webfont.svg#solomon_lightregular') format('svg');
    font-weight: 200;
    font-style: normal;

}



@font-face {
    font-family: 'solomon_book';
    src: url('../fonts/solomon_book-webfont.eot');
    src: url('../fonts/solomon_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/solomon_book-webfont.woff2') format('woff2'),
         url('../fonts/solomon_book-webfont.woff') format('woff'),
         url('../fonts/solomon_book-webfont.ttf') format('truetype'),
         url('../fonts/solomon_book-webfont.svg#solomon_bookregular') format('svg');
    font-weight: 300;
    font-style: normal;
}