@font-family-sans-serif: "solomon", "Helvetica Neue", Helvetica, Arial, sans-serif;

@padding: 30px;

@body-bg: #252629;

@font-size: 16px;

@header-bg: #2c2d30;

@header-fg: #d0d0d0;

@default-color: #eaeaea;

@emphasize-color: #e84646;

@btn-outline-width: 3px;
@btn-font-size: @font-size*0.875;
@btn-line-height: @btn-font-size*1.75;
@btn-height: @btn-line-height + @btn-outline-width*2;
@btn-side-padding: @btn-font-size*1.5;

@btn-default-color: @default-color;
@btn-default-fg: @body-bg;

@btn-primary-color: @emphasize-color;

@anchor-padding-bottom: 0.25em;

//** Default `.form-control` border radius
@input-border-radius:            @border-radius-base*100;
//** Large `.form-control` border radius
@input-border-radius-large:      @input-border-radius;
//** Small `.form-control` border radius
@input-border-radius-small:      @input-border-radius;

//** Border color for inputs on focus
@input-border-focus:             #3FBBE5;

@form-control-padding-h: @grid-gutter-width;

@typeahead-item-padding-h: @grid-gutter-width - 15px;
@typeahead-menu-margin-left: @form-control-padding-h - @typeahead-item-padding-h;
@typeahead-menu-radius-top: 5px;
@typeahead-menu-radius-bottom: 7px;
@typeahead-menu-radius: @typeahead-menu-radius-top @typeahead-menu-radius-top @typeahead-menu-radius-bottom @typeahead-menu-radius-bottom;

@tooltip-bg:                  #1E1F20;
@tooltip-arrow-color:         @tooltip-bg;


@dropdown-bg:  #2a2a2d;

@switch-bg: lighten(#2a2a2d, 8%);

@switch-padding: 0.5em;